@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    top: 0;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: #9f2242;
    color: #fff;
    padding: 20px;
    display: flex;
    position: fixed;
    width: 100%;
    max-height: 50px;
    font-weight: 500;
}

header img {
    max-height: 40px;
}
.title-header {
    border-left: 1px solid #fff;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
}

.title-header p{
    padding: 0;
    margin: 0;
}

#book {
    width: 100%!important;
    height: 100vh!important;
    margin-top: 145px;
}

nav{
   border-bottom: 1px solid #eee;
   position: fixed;
   background-color: #fff;
   margin-top: 72px;
   width: 100%;
}

.nav-wrapper{
    margin-top: 0;
}
#nav-mobile {
    display: flex!important;
    padding: 20px;
    list-style: none;
    text-decoration: none;
}

#nav-mobile li {
    padding: 5px 10px;
    
}

#nav-mobile a{
    text-decoration: none;
    color: #757575;
    font-weight: 500;
}

#nav-mobile a:hover{
    color: #9f2242;
}

.active {
    border-bottom: 2px solid #9f2242;
}
.active a{
    color: #9f2242!important;
}

/* Home */

#cover {
    display: flex;
    width: 100%;
    height: 60vh;
    margin-top: 170px;
}

.cover__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.cover__image img {
    width: 100%;
}
.cover__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    width: 40%;
}
.cover__title p{
    font-size: 3rem;
}
.button{
    background-color: #9f2242;
    color: #fff;
    width: 120px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: all .5s;
}

.button:hover{
    background-color: #691c32;
    padding: 8px;
}

#about{
    width: 70%;
    padding: 80px 15%;
    font-size: 1.1rem;
    color: #4D4D4D;
}
#about p{
    margin-top: 20px;
}
#video-sidil{
    width: 70%;
    padding: 0px 15%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-bottom: 50px;
}

#video-sidil iframe{
    height: 100%;
}

.welcome {
    font-size: 1.5rem!important;
}

.note {
    font-size: .8rem!important;
}
.buttons-container {
    margin-top: 30px;
}
footer {
    text-align: center;
    height: 50px;
    background-color: #691c32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

footer a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}
/* Videos */

#video-list{
    margin-top: 150px;
    width: 80%;
    padding: 50px 10%;
}

.video__list__title{
    margin-bottom: 50px;
    color: #9f2242;
}

.video__container{
    display: flex;
    padding: 30px 0;
}
.video__info{
    width: 45%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.video__title{
    margin-bottom: 20px;
    color: #9f2242;
}



@media all and (max-width: 720px) {
    .cover__title p{
        font-size: 2rem;
    }
    #cover{
        flex-direction: column;
        padding-bottom: 50px;
        padding-top: 30px;
    }
    #cover div{
        width: 80%;
        padding: 0 10%;
    }
    #about, #video-sidil{
        width: 80%;
        padding: 0 10% 50px 10%;
    }
    #video-sidil{
        height: 300px;
    }
  }